.alert {
    padding: 20px;
    color: white;
    margin-left: 53px;
    position:relative;
    width:87%;
    border:1px solid #fff;
    background-color: #04AA6D;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  .logo-Wrapper {
    width: 12%;
    padding: 0 30px 0 30px;
}