:host {
  display: flex;
  height: 100%;
  background-color: white;
}

.main-container {
  width: 100%;
  margin-right: 20px;
}

.diagnosis-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .diagnosis {
    padding: 5px 15px;
    background-color: #ebf4fb;
    margin: 2px;
    // color: black;
    // border: 1px solid black;
    border-radius: 5px;
  }
}
::ng-deep {
  .mat-autocomplete-panel.ng-star-inserted.mat-autocomplete-visible::-webkit-scrollbar {
    height: 12px;
    width: 18px;
    background: #aaa;
  }
  .mat-autocomplete-panel.ng-star-inserted.mat-autocomplete-visible::-webkit-scrollbar-thumb {
    background-color: #818b99;
    border: 1px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }
}

.condSym {
  background-color: #e43927;
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
}
.valueTags {
  display: flex;
  flex-wrap: wrap;
  .tags {
    background-color: #e43927;
    text-transform: uppercase;
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    margin: 5px 5px;
  }
}

.browse_file {
  max-width: 300px;
  background: none;
  margin: 0;
  line-height: 28px;
  font-size: 15px;
  border: 0;
  float: left;
  outline: 0;
  padding-left: 0;
}

.upload-sample {
  height: 30px;
  width: 30px;
  margin: 0px 5px;
  cursor: pointer;
}

$asset-image-path: '~src/assets/img';

.input-group select.select-area {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #70707075;
  float: left;
  height: 25px;
  outline: 0;
  padding-left: 0;
  padding-bottom: 20px;
  margin-top: 0;
  padding: 0;
  font-size: 15px;
  position: relative;
  background: url('#{$asset-image-path}/down-arrow.svg') no-repeat right 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.spanColor {
  color: #e43927;
}

table {
  width: 100%;
  height: auto;
}

.example-container {
  overflow: auto;
}

.col-padding {
  padding-left: 24px !important;
}

.leftSidePadding{
  padding-left: 25%;
}
