body {
  --notification-green-color: #dfedd8 !important;
  --notification-green-bg-color: #3d773f !important;
  --notification-blue-color: #fafafa !important;
  --notification-blue-bg-color: #357290 !important;
  --notification-orange-color: #fdf9e4 !important;
  --notification-orange-bg-color: #c98a25 !important;
  --notification-red-color: #f2dddd !important;
  --notification-red-bg-color: #aa4442 !important;
}

// TODO Overrides the component colors
